// Place all the styles related to the runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* list */
#runs {
  list-style: none;

  li {
    width: 400px;
    padding: 8px 4px;

    .title {
      font-weight: bold;
    }

    &.failed {
      a.title {
        color: red;
      }
    }

    &.passed {
      a.title {
        color: green;
      }
    }

    .details {
      font-size: 12px;
    }
  }

  .odd {
    background-color: #EEE;
  }
}

/* detail */
#summary {
  &.passed {
    color: green;
  }

  &.failed {
    color: red;
  }
}

#failureList {
  .title {
    font-weight: bold;
  }

  .failureMessage {
    color: red;
  }

  .backtrace {
    list-style: none;
    width: 500px;
    font-family: "Courier New", Courier monospace;
    margin-bottom: 10px;

    .systemStart {
      font-size: 1.4em;
      text-align: center;
      color: gray;
    }

    .system {
      display: none;
    }

    &.complete {
      .system {
        display: block;
      }

      .systemStart {
        display: none;
      }
    }
  }
}